body{
    background-color: #4c525c;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 350px;
    height: 570px;
    background-color: #fafafa;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-form span img{
    margin-top: -40px;
}

.head-form h1{
    color: #45abff;
    font-weight: 600;
}

form label{
    display: flex;
    flex-direction: column;
}

form input{
    height: 50px;
    width: 280px;
    margin: auto;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #e3e3e3;
    outline: none;
}

form input[placeholder]{
    padding-left: 40px;
}

.submitBtn{
    background-color: #45abff;
    border-radius: 6px;
    margin: 0 auto;
    display: block;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}

p {
    font-size: 12px;
    font-weight: 500;
    width: 250px;
    margin: 15px auto;
    text-align: center;
    color: rgba(1, 1, 1,.6);
    line-height: 15px;
}
a {
    font-size:12px; 
    color: #45abff;
}

label {
    position: relative;
}
.form-section i {
    position: absolute;
    top: 15px;
    left:25px;
    font-size: 22px;
    color:rgba(69, 171, 255,0.8);
}
.social-media {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.social-media a {
    font-size: 20px;
    padding: 6px;
    color: #d1d1d1;
    align-items: center;
}
.social-media a:hover {
    color:#45abff; 
}
