@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: pink;
}
body{
    background-color: whitesmoke;
    font-size: 1em;
    font-weight: 400;
    font-family: 'karla', sans-serif;   
}

h1, h2, h3, h4, h5, h6{
    font-family: 'DM Serif Display', serif;
    /* text-transform: uppercase; */
}

header .nav{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}


.nav i.fa{
    padding: 6px 12px;
    border-radius: 1px;
    color: rgba(51, 51, 51, .7);
}

.nav h1{
    font-size: 1.5em;
    font-family: 'Karla';
    font-weight: 400;
    line-height: 1.6;
}

header .hero-img{
    background-image: url('./images/image-intro-mobile.jpg');
    background-repeat: no-repeat;
    background-size: 100%;    
    height: 90vh;
}

header .hero-intro{
    background-color: hsl(256, 26%, 20%);
    position: relative;
    min-height: 55vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

header .sv-pattern-left{
    position: absolute;
    top: 0;
}

header .sv-pattern-right{
    position: absolute;
    top: 60%;
    right: 0px;
}


header .hero-intro-text{
    margin: auto;
    width: 90%;
    text-align: center;
    z-index: 1;
}

header .hero-intro-text h1{
    text-transform: capitalize;
    letter-spacing: 2px;
    line-height: 30px;
}

header .hero-intro-text p{
    font-size: .8em;
    padding: 30px 0;
}

header .hero-intro-text input{
   
    font-size: .8em;
}

.button{
    border: 1px solid whitesmoke;
    background-color: transparent;
    padding: 10px 20px;
    letter-spacing: 1px;
    color: whitesmoke;
    text-transform: uppercase;
}

.button:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: hsl(256, 26%, 20%);
}



main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

main .content{
    text-align: center;
    margin: 20px 0;
    width: 85%;
    font-size: .8em;
}

main .content p{
    color: gray;
}

main .content h2{
    text-transform: capitalize;
    padding: 20px 0;
}

main .content img{
    width: 18%;
}

main h1{
    padding: 40px 0;
}


main .more{
    background-color: hsl(256, 26%, 20%);
    color: whitesmoke;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
    
}

main .more h1{
    color: whitesmoke;
    font-size: 3em;
    z-index: 1;
    line-height: 35px;
}

main .more input{
    background-color: transparent;
    color: whitesmoke;
    font-size: 1em;
    padding: 10px 35px;
}

main .more img{
    position: absolute;
    top: -50px;
    right: 0px;
    width: 25%;
    
}



footer{
    background-image: url('./images/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
    background-size: initial;
    padding: 20px;
    margin: auto;
}

footer .footer-top-container {
    text-align: center;
    /* border: 1px solid red; */
    color: hsl(232, 13%, 33%);
}

footer .footer-top-container h1{
    font-family: 'karla', sans-serif;
    text-transform: uppercase;
    font-size: 2em;

}

footer .footer-top-container i{
    margin:  20px;
    font-size: 20px;
}

footer .footer-top-container .fa-facebook{
    background: gray;
    color: whitesmoke;
    border-radius: 2px;
}

footer .footer-list{
    text-align: center;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bolder;
}


footer .footer-list h5{
    color: hsl(216, 30%, 68%);
    font-size: 1.1em;
    padding-top: 20px;
    
}

footer  ul{
    padding: 15px 0;
    text-align: center;
    list-style-type: none;
    color: black;
}

footer ul li{
    padding: 10px 0;
}





header .topNav{
    display: none;

}

#idtoggleNavIcon{
    cursor: pointer;
    border: 1px solid gray;
}

#navbar-hero{
    /* text-align: center; */
    
    background: hsl(270, 9%, 17%);
    background-image: url('./images/bg-pattern-mobile-nav.svg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    padding-top: 20px;
}

#navbar-hero ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

#navbar-hero ul li{
    font-size: 1.3em;
    display: block;
    margin: 20px 0;
    cursor: pointer;
}

#navbar-hero ul li:last-child{
    padding: 5px 90px;
}

#navbar-hero ul li:hover{
    color: rgb(103, 192, 103);
}

.resposive{
    display: block;
}

@media screen and (min-width: 750px){
    #idtoggleNavIcon{
        background: blue;
    }

    .hero-img{
        border: 10px solid green;
        width: 40vh;
        height: 50px;
        right: 0px;
        
        align-self: center ;
    }

    

    

}