@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
:root {
    --main-bg-color: #9C27B0;
    --border: 0px solid yellow;
  }

.attribution { 
    padding-top: 20px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body{
    background-color: hsl(240, 78%, 98%);    
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    width: 1440px;
    padding: 0;
    margin: 0;
    margin: auto;
    color: hsl(232, 13%, 33%);
}

.onSalePage{
    border: var(--border);
}

.pricing{
    border: var(--border);
    width: 250px;
    height: 150px;
    vertical-align: center;

}

.top{
    /* border: 2px solid blue; */
    justify-content: center;
    align-content: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
}

span{
    font-size: 30px;
    color: hsl(233, 13%, 49%);
    text-align: center;
  }



.form{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
 
}

.onSale{
    /* border: 1px solid red; */
    align-content: center;
    justify-content: center;
    width: 34%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.onSale > ul{
    list-style-type: none;
    /* border: 5px solid blue; */
    width: 70%;
    padding: 0;
    margin: auto;
    text-align: center;
    
}

li:last-child{
    color: hsl(233, 13%, 49%);
    border: 1px solid hsl(234, 14%, 74%);
    margin: 40px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

li:first-child{
    border: none;
}


li:nth-child(2){
    font-size: 60px;
}

li{
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid hsl(234, 14%, 74%);
}


.active{
    background-color: hsl(237, 63%, 64%);
    border-radius: 20px;
    color: white;
    align-self: center;
    transform: scaleY(1.09);
}

.active li:last-child{
    color: white;
    border: 1px solid white;
}

.toggle{
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleLabel{
    border: 1px solid blue;
    position: relative;
    width: 4rem;
    height: 2.5rem;
    margin: 1rem;
    cursor: pointer;
    display: inline-block;

}



.slider{
    position: absolute;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 35px;
    cursor: pointer;
}

.slider:before{
    position: absolute;
    content: "";
    font-size: .5em;
    background-color: white;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    bottom: 5px;
    left: 5px;
    transition: .4s;
    -webkit-transition: .4s;

}

/* .toggleLabel input[type=checkbox]:checked + .toggleLabel span:before{
 transform:translateX(1.3rem);
    -webkit-transform: translateX(1.3rem);
    -ms-transform: translateX(1.3rem);
} */

.toggleCheckbox:checked + .slider:before{
    transform:translateX(1.3rem);
    -webkit-transform: translateX(1.3rem);
    -ms-transform: translateX(1.3rem);
    background-color: lightskyblue;
}


.toggle p{
    display: inline-block;
    border: 1px solid tomato;

 }