:root{
    --borderSize: 0px;
    --borderContent : 0px;
    --b : 0px;
    --v : 0px;
}
*{
    box-sizing: border-box;

}

body{
    background-color: whitesmoke;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    height: 500px;
    color: #555555;
}

div.container .frontPage{
    min-width: 100vh;
    background-color: palevioletred;
    min-height: 100vh;
    background-image: url('../img/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: capitalize;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

div.container .frontPage div{
    border: var(--borderSize)  solid red;
}

div.container .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 90px;
    animation: navbar 6s linear;
    animation-iteration-count: 1;
    animation-delay: 0s;
}



div.container .nav > div{
    flex-basis : 20%;
    font-size: 25px;
    opacity: .8;

}

div.container .nav div:last-child{
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-end;
}

div.container .nav div:last-child a{
    padding-left: 15px;
}

div.frontPage div.quote{
    padding-top: 200px;
    flex-grow: 1;
    border: var(--borderSize)  solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    animation: moveUp 5s ease-out 0 1;
}

div.container{
    height: 100vh;
    border: var(--borderSize) solid purple;
}

div.frontPage .quote h1{
    font-family: sans-serif;
    font-size: 60px;
    /* border: 1px solid red; */

}

div.frontPage .quote p{
    margin-top: 0;
    font-family: sans-serif;
    /* background-color: red; */
    font-size: 28px;
}

div.frontPage .group{
    text-align: center;
    /* opacity: 0; */
    animation: moveUp 5s 1 ease-in-out;
    animation-iteration-count: 1;
    animation-delay: .2s;

}

.btn{
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

div.frontPage .btnContactMe{

    padding: 20px 46px;
    font-size: 16px;
    background-color: #3f51b5;
    color: whitesmoke;
    text-align: center;
    opacity: 1;
    font-weight: bold;

}

div.frontPage .nav a{
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
}

@keyframes navbar{
    0% {
        opacity: 0;
    }
    25%{
        opacity: .9;
    }

}

@keyframes moveUp{
    0%{
        margin-top: 120px;
        opacity: 0;
    }

    30%{
        margin-top: 0px;
        opacity: .9;
    }
    100%{
        opacity: .9;
    }
}


div.container .content-body{
    width: 80%;
    margin: auto;
}

/* mainContent */

div.mainContent{
    border: var(--borderContent) solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 0 10%; */
}

div.content-body .content{
    
    border: none;
    font-family: bold 32px "Open Sans", sans-serif;
    text-transform: capitalize;
    text-align: center;
    border: var(--borderContent) solid blue;
    flex-direction: column;
    align-items: center;
    padding: 90px 0 20px 0;
}

div.content-body .content p{
    width: 58%;
    /* background: mediumaquamarine; */
    text-align: center;
    border: var(--borderContent) solid blue;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 30px;
    margin: 0px;
    
}

div.content-body hr{
    
    border: none;
    width: 250px;
    padding: 0;
    height: 3px;
    border-radius: 3px;
    background-color: #3f51b5;
    margin: 50px 0 20px 0;
}

div.mainContent .content h1{
    font: bold 32px "Open Sans", sans-serif;
}


div.mainContent .image{
    min-width: 100%;
    min-height: 200px;
    flex-basis: 30%;
    display: flex;
    border: var(--b) solid purple;
    justify-content: space-between;
}

div.mainContent .image .smallImage{
    flex-basis:355px;
    height: 350px;
    border: var(--b) solid red;
    padding: 10px;
    overflow: hidden;
}

div.mainContent .image .smallImage img{
    width: 100%;
    border: var(--b) solid red;
    height: 100%;
   
}   


div.mainContent .image .bigImage{
    flex-grow: 1;
    padding: 10px;
    border: var(--b) solid red;
    flex-basis: 80%;
    overflow: hidden;

}

div.mainContent .image .bigImage img{
    width: 100%;
    border: var(--b) solid red;
    height: 100%;
}   

/* ------------content-------------------- */

div.container .content{
    margin-top: 150px;
    border: var(--b) solid yellowgreen;
    display: flex;
    flex-direction: column;
    
}

div.container .content .context{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

div.content-body .content  div{
    /* border: 1px solid salmon; */
    flex-grow: 2;

}

div.content-body .content .content-item{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    
    
}



.content .context p{
    border: 1px solid olivedrab;
    /* background-color: orange; */
    text-align: center;
}

div.content  .content-item .content-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.content .content-item .content-card p{
    width: 80%;
}

.fa-4x{
    color: rgb(93, 204, 176);
}

/* ----------------------testimonials-------------- */

div.content-body .testimonials {
    border: var(--v) solid salmon;
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 100px;
}

div.content-body .testimonials hr{
    margin: auto;
    margin-top: 50px;
}

div.content-body .testimonials .quote{
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    margin: auto;
    margin-top: 50px;
}

div.content-body .testimonials .author{
    text-align: center;
    font-size: 10px;
    margin: auto;
    margin-top: 10px;
}